<h1>Editind Book</h1>
<br>
<% if @book.errors.any? %>
  <%= @book.errors.count %>errors
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model:@book do |f| %>

  <div class="field">
    <%= f.label :title %></br>
    <%= f.text_field :title %>
  </div>
  <br>
  <div class="field">
    <%= f.label :body %></br>
    <%= f.text_area :body %>
  </div>
  <br>
  <div class="field">
    <%= f.submit 'Update Book' %>
  </div>
<% end %>
<br>
<a href="<%= book_path(@book.id) %>">Show</a> | <a href="<%= books_path %>">Back</a>